<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.miniblas.app">

    <permission
        android:name="com.miniblas.api.v1.provider.READ_PROFILES"
        android:label="prueba"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />

    <application
        android:name="com.miniblas.app.AplicacionPrincipal"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MiniblasMaterialDesing" >
        <activity
            android:name="com.miniblas.iu.FabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.miniblas.iu.Preferences"/>
        <provider
            android:name="com.miniblas.api.v1.provider.PluginProvider"
            android:authorities="com.miniblas.api.v1.provider"
            android:readPermission="com.miniblas.api.v1.provider.READ_PROFILES"
            android:exported="true">
        </provider>
        <service
            android:name="com.arcadio.api.v1.service.ConnectionArcadioService"
            android:process=":arcadio">
            <intent-filter>
                <action
                    android:name="com.arcadio.api.v1.service.IPluginServiceArcadio"/>
            </intent-filter>
        </service>
        <activity android:name="com.arcadio.api.v1.service.StopConnection"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
